autopep8==1.6.0
blessed==1.19.0
certifi==2021.10.8
charset-normalizer==2.0.10
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
idna==3.3
inquirer==2.9.1
psutil==5.9.0
psycopg2==2.9.3
psycopg2-binary==2.9.3
pycodestyle==2.8.0
pydantic-cli==4.2.1
Pygments==2.11.2
python-editor==1.0.4
readchar==3.0.5
rich==11.0.0
six==1.16.0
toml==0.10.2
typer==0.4.0
typing-extensions==4.0.1
urllib3==1.26.8
wcwidth==0.2.5
